<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
 <nav>
    <a href="/posts">Feed</a>
    <a href="/posts/new">Add Post</a>
    <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
    <a href="/logout" class="logout">LOG OUT</a>
    </nav>
<main>
<section id="show-page">
    <div class="title"><%= post.title %></div>
    <div class="image"><%= post.imageUrl %></div>
    <div class="username"><strong><%= post.userName %></strong></div>
    <div class="description"><%= post.description %></div>
</section>

<br><br>
<h2 class="comment">Comments</h2>


<% if (post.comments.length) { %>
    <table>

      <tbody>
        <% post.comments.forEach(function(r) { %>
          <tr class="tr-comments">
            <td class="comment-user"><img alt="avatar" src="<%= r.userAvatar %>"><%= r.userName %></td>
            <td class="date-of-comment"><%= r.createdAt.toLocaleDateString() %></td>
            <td><%= r.content %></td>
          </tr>
          <td>
            <% if (user && user._id.equals(r.user)) { %>
              <form action="/comments/<%= r._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete Comment</button>
              </form>
            <% } %>
          </td>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Comments Yet</h5>
  <% } %>

<% if (user) { %>
  
  <form id="add-comment-form" method="POST" action="/posts/<%= post._id %>/comments">
    <textarea name="content"></textarea>
    <input type="submit" value="Add Comment">
  </form>
<% } %>
</main>